## Pandas Tutorial
- Pandas is an open source, BSD-licenced library providing high-performance , easy-to-use data structure and data anaylysis tools for the python programming language.

### Agenda
- what is Data frame?
- what is Data series?
- Different operation in pandas?

In [1]:
import pandas as pd
import numpy as np

In [6]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=['column1','column2','column3','column4'])

In [7]:
df.head()

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [9]:
df.to_csv('test1.csv')

In [11]:
# accessing the elements
## 1. .loc 2. .iloc
df.loc['row1']

column1    0
column2    1
column3    2
column4    3
Name: row1, dtype: int32

In [12]:
#  check type 
type(df.loc['row2'])

pandas.core.series.Series

In [14]:
df.iloc[0:3,0:3]

      column1  column2  column3
row1        0        1        2
row2        4        5        6
row3        8        9       10

In [15]:
type(df.iloc[0:3,0:3])

pandas.core.frame.DataFrame

In [17]:
# difference between .series and . dataframe
type(df.iloc[0:2,0])

pandas.core.series.Series

In [18]:
type(df.iloc[0:2,0:3])

pandas.core.frame.DataFrame

In [19]:
# convert dataframe into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [20]:
df.iloc[:,1:].values.shape

(5, 3)

In [21]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [22]:
df

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [25]:
df['column1'].value_counts()  # to check any repeated 
                              #value is their and how many time

0     1
4     1
8     1
12    1
16    1
Name: column1, dtype: int64

In [26]:
df['column1'].unique()

array([ 0,  4,  8, 12, 16])